<a href="https://colab.research.google.com/github/IsratAhmed/Getting-started/blob/main/Getting_started_sat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
if x%2==0:
  print("This number is even!")

This number is even!

In [ ]:
x=1000
if x%2==0:
  print("This number is even!")
else:
  print("This is an odd number!")

This number is even!

In [ ]:
a,b=10,12
if a==b:
  print("The two numbers are equal")
elif a<b:
  print("The first number is smaller than the second")
else:
  print("The first number is greater than the second")

The first number is smaller than the second

In [ ]:
a=15
b=12
if a==b:
  print("The two numbers are equal")
elif a<b:
  print("The first number is smaller than the second")
else:
  print("The first number is greater than the second")

The first number is greater than the second

In [ ]:
a = -1
if a>0:
  print("The number is positive")
elif a<0:
  print("The number is negative")
else:
  print("The number is 0")

The number is negative

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(0,6):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
i=0
while i<5:
  print(i)
  i=i+1
print("THE END!")

0
1
2
3
4
THE END!

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  print("iteration number is {}, which is less than the target value {}".format(iterate,targetvalue))
  iterate =iterate+1

iteration number is 0, which is less than the target value 6
iteration number is 1, which is less than the target value 6
iteration number is 2, which is less than the target value 6
iteration number is 3, which is less than the target value 6
iteration number is 4, which is less than the target value 6
iteration number is 5, which is less than the target value 6

In [ ]:
colours =["blue", "red", "black"]
cars=["Audi", "Tesla", "BMW"]
for colour in colours:#outer loop
  for car in cars:#inner loop
    print(colour, car)

blue Audi
blue Tesla
blue BMW
red Audi
red Tesla
red BMW
black Audi
black Tesla
black BMW

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
    continue
  print("The iteration value is {}, which is less than the target value".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value
The iteration value is 2, which is less than the target value
The iteration value is 4, which is less than the target value
The iteration value is 5, which is less than the target value
The iteration value is 6, which is less than the target value

In [ ]:
a = 1
while a < 100:
  print(a)
  a = a+1
  if a==11:
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate>=3 and iterate<=5:
    continue
  print("The iteration value is {}, which is less than the target value".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value
The iteration value is 2, which is less than the target value
The iteration value is 6, which is less than the target value

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate in range(3,6):
    continue
  print("The iteration value is {}, which is less than the target value".format(iterate,targetvalue))

The iteration value is 1, which is less than the target value
The iteration value is 2, which is less than the target value
The iteration value is 6, which is less than the target value

In [ ]:
mylist=["Micheal","Sean","Adam"]
print(mylist)

['Micheal', 'Sean', 'Adam']

In [ ]:
mylist=["Micheal","Sean","Adam"]
mylist[0]

'Micheal'

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
type(mylist)

list

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
mylist[1:3]

['Sean', 'Adam']

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
print(len(mylist))

5

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
if "Sean" in mylist:
  print("Yes the element exists")

Yes the element exists

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
mylist.insert(1, "John")
print(mylist)

['Micheal', 'John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]
mylist.append("Zara")
print(mylist)

['Micheal', 'Sean', 'Adam', 5000, True, 'Zara']

In [ ]:
mylist1=["Micheal","Sean","Adam",5000,True]
mylist2=["Zara","Paul","John"]
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Paul', 'John', 'Micheal', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]#removes a certain element
mylist.remove(5000)
print(mylist)

['Micheal', 'Sean', 'Adam', True]

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]#pops a specific index
mylist.pop(3)
print(mylist)

['Micheal', 'Sean', 'Adam', True]

In [ ]:
mylist=["Micheal","Sean","Adam",5000,True]#automatically removes the last element
mylist.pop()
print(mylist)

['Micheal', 'Sean', 'Adam', 5000]

In [ ]:
#sort
mylist=["Micheal","Sean","Adam"]#ascending
mylist.sort()
print(mylist)

['Adam', 'Micheal', 'Sean']

In [ ]:
mylist=["Micheal","Sean","Adam"]#desc
mylist.sort(reverse=True)
print(mylist)

['Sean', 'Micheal', 'Adam']

In [ ]:
mylist=['Sean', 'Micheal', 'Adam']#reverse
mylist.reverse()
print(mylist)

['Adam', 'Micheal', 'Sean']

In [ ]:
mylist1=["Micheal","Sean","Adam",5000,True]
mylist2=["Zara","Paul","John"]
mylist3=mylist2+mylist1
print(mylist3)

['Zara', 'Paul', 'John', 'Micheal', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Micheal","Sean","Adam"]#getting help
help(mylist.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
mylist=["google","Meta","Instagram","Tiktok","Snapchat"]
element = input("Please input tech co. name (in Capitalised form):")
if element in mylist:
  print("The tech co. already exists")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please input tech co. name (in Capitalised form):Twitter
The new list is: ['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat', 'Twitter']

In [1]:
mylist = ["Apple", "Orange", "Grape"]
response = input("Please enter a fruit ").title()

if response not in mylist:
  mylist.append(response)
else:
  print("That fruit is already on the list!")

print(mylist)

Please enter a fruit Strawberries
['Apple', 'Orange', 'Grape', 'Strawberries']

In [2]:
mylist=["google","Meta","Instagram","Tiktok","Snapchat"]
element = input("Please input tech co. name (in Capitalised form):")
if element in mylist:
  print("The tech co. already exists")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please input tech co. name (in Capitalised form):Twitter
The new list is: ['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat', 'Twitter']

In [3]:
mylist=["google","Meta","Instagram","Tiktok","Snapchat"]
print(mylist)

['google', 'Meta', 'Instagram', 'Tiktok', 'Snapchat']

In [4]:
mylist=["google","Meta","Instagram","Tiktok","Snapchat"]#looping #returning each item separately
for element in mylist:
  print(element)

google
Meta
Instagram
Tiktok
Snapchat

In [7]:
a=[1,2,3,4,5,6,7]
#=2,4,6,8,10,12,14
b=[]
for i in a:
  b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [8]:
a=[1,2,3,4,5,6,7]
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [10]:
mylist=[1000,20,20120,50,95,1021]#conventional way
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [11]:
mylist=[1000,20,20120,50,95,1021]#comprehension
mynewlist=[i for i in mylist if i<100]
print(mynewlist)

[20, 50, 95]

In [12]:
mylist=["Micheal","Sean","Adam","Zara"]
mynewlist=[i.upper() for i in mylist]
print(mynewlist)

['MICHEAL', 'SEAN', 'ADAM', 'ZARA']

In [13]:
mylist=[letter.upper() for letter in "python"]#comprehension
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

In [14]:
mylist=[1,2,["a",1],3]#sublist
sublist=mylist[2]
print(sublist)

['a', 1]

In [15]:
mylist=[1,2,["a",1],3]
mylist[3]

3

In [16]:
mylist=[1,2,["a",1],3]
mylist[2][0]

'a'

In [17]:
mylist=[1,2,["a",1],3]
mylist[2][1]

1

In [21]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]

In [25]:
matrix=[[0,1,2],
        [3,4,5],
        [6,7,8],
        [9,10,11]]
rows=len(matrix)
cols=len(matrix[0])
print(rows)
print(cols)

4
3

In [26]:
matrix=[[0,1,2],
        [3,4,5],
        [6,7,8],
        [9,10,11]]
rows=len(matrix)
cols=len(matrix[0])
for i in range(0,rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [27]:
matrix[1][0]

3

In [28]:
matrix[3][1]

10

In [31]:
mydict={"employee":"Zara","department":"operations","last salary":5000}

In [32]:
mydict={
    "employee":"Zara","department":"operations","last salary":5000
    }

In [33]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [34]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(mydict["employee"])

Zara

In [35]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(len(mydict))

3

In [36]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
print(type(mydict))

<class 'dict'>

In [37]:
mydict={
    1: {"employee":"Zara","department":"operations","last salary":5000},
    2: {"employee":"Sean","department":"sales","last salary":4000}
    }

In [39]:
print(mydict[1])

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [40]:
print(mydict[2])

{'employee': 'Sean', 'department': 'sales', 'last salary': 4000}

In [41]:
print(mydict[1]["employee"])

Zara

In [42]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.keys()

dict_keys(['employee', 'department', 'last salary'])

In [43]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.values()

dict_values(['Zara', 'operations', 5000])

In [44]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.items()

dict_items([('employee', 'Zara'), ('department', 'operations'), ('last salary', 5000)])

In [45]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
if "department" in mydict:
  print("Yes the key exists")

Yes the key exists

In [46]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"employee":"Sean"})
print(mydict)

{'employee': 'Sean', 'department': 'operations', 'last salary': 5000}

In [47]:
mydict={"employee":"Zara","department":"operations","last salary":5000}
mydict.update({"status":"permanent"})
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000, 'status': 'permanent'}

In [48]:
mydict={"employee":"Zara","department":"operations","last salary":5000,"status": "permanent"}
mydict.pop("status")
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [49]:
mydict={"employee":"Zara","department":"operations","last salary":5000,"status": "permanent"}
del mydict["status"]
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'last salary': 5000}

In [50]:
mydict={"employee":"Zara","department":"operations","last salary":5000,"status": "permanent"}
mydict.clear()
print(mydict)

{}

In [53]:
mydict={"employee":"Zara","department":"operations","last salary":5000,"status": "permanent"}
for item in mydict.keys():
  print(item)

employee
department
last salary
status

In [51]:
mydict={"employee":"Zara","department":"operations","last salary":5000,"status": "permanent"}
for keys,values in mydict.items():
  print(keys,values)

employee Zara
department operations
last salary 5000
status permanent

In [55]:
mytuple=("Audi","Ford","Tesla",5000,True)
type(mytuple)

tuple

In [58]:
mytuple=("Audi","Ford","Tesla",5000,True)
mytuple[1]

'Ford'

In [56]:
mytuple=("Audi","Ford","Tesla",5000,True)
mytuple[0:3]

('Audi', 'Ford', 'Tesla')

In [59]:
mytuple=("Audi","Ford","Tesla",5000,True)
mylist=list(mytuple)#changing tuple to a list
mylist[0]="Toyota"
mytuple=tuple(mylist)#changing to a tuple
print(mytuple)

('Toyota', 'Ford', 'Tesla', 5000, True)

In [60]:
mytuple=("Audi","Ford","Tesla",5000,True)
mytuple.index("Tesla")

2

In [61]:
mytuple=("Audi","Ford","Audi","Tesla","Audi",5000,True)
mytuple.count("Audi")

3

In [62]:
mytuple=("Audi","Ford","Audi","Tesla","Audi",5000,True)
for i in mytuple:
  print(i)

Audi
Ford
Audi
Tesla
Audi
5000
True

In [63]:
mytuple=("Audi","Ford","Tesla")#packing
car1,car2,car3=mytuple#unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

In [66]:
myset={"Audi","Ford","Tesla",5000,True}
print(myset)
len(myset)
type(myset)

{True, 5000, 'Audi', 'Tesla', 'Ford'}

set

In [68]:
myset={"Audi","Ford","Tesla",5000,True}
for i in myset:
  print(i)

True
5000
Audi
Tesla
Ford

In [69]:
myset={"Audi","Ford","Tesla",5000,True}
myset.add("apples")
print(myset)

{True, 5000, 'Audi', 'Tesla', 'Ford', 'apples'}

In [70]:
myset={"Audi","Ford","Tesla",5000,True}
myset.pop()
print(myset)

{5000, 'Audi', 'Tesla', 'Ford'}

In [71]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.union(myset2)

{1, 2, 3, 4, 5, 6}

In [80]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.intersection(myset2)

{3, 4}

In [73]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issubset(myset2)

True

In [74]:
import numpy as np

In [75]:
import pandas as pd

In [76]:
import matplotlib.pyplot as plt

In [77]:
import seaborn as sns

In [78]:
import math

In [79]:
import scipy